body {
    text-align: center;
    background: #fefefe;
    margin: 0;
    padding: 0 0.25em;
    color: #333;
}

h1, h2 {
    font-family: Francois One, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 auto;
}
