body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: url("img/headerbg.jpg") top right / 100% 21em no-repeat local padding-box content-box black;
    color: moccasin;
}

h1, h2, h3 {
    color: orange;
}

header h1, header h2 {
    text-transform: uppercase;
}

body>header {
    height: 21em;
    padding: 0.5em 1em;
}

header h1 {
    font-size: 500%;
    font-weight: bolder;
    line-height: 66%;
}

header h1 small {
    font-size: 46%;
    display: block;
    font-weight: normal;
}

#tagline {
    font-size: 200%;
    font-weight: normal;
    text-align: center;
    text-transform: normal;
    padding: 1em;
}

#content-wrapper {
    background: url("img/bodybg.jpg") top center / 100% no-repeat local black;
    padding-top: 2em;
}

#vision,
#offerings>section>header,
#offerings>section>div,
#contact,
footer {
    padding-right: 1em;
    padding-left: 1em;
}

#vision,
.offering,
#offerings>section,
#offerings>section>p {
    padding-bottom: 1em;
}

#offerings>section>header {
    background-color: rgba(255,165,0,0.33);
    padding-top: 2em;
    padding-bottom: 0.1em;
    margin-bottom: 2em;
}

.offering>header {
    margin-bottom: 2em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #content {
        width: 55em;
        margin: auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
