body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: url("img/headerbg.jpg") top right / 100% 21em no-repeat local padding-box content-box black;
    color: #fad6a6;
}

h1, h2, h3 {
    color: rgb(245,160,40);
}

h1 {
    text-transform: uppercase;
}

body>header {
    height: 21em;
    padding: 1em;
    margin-bottom: 1em;
}

header h1 {
    font-size: 500%;
    font-weight: bolder;
    line-height: 66%;
}

header h1 small {
    font-size: 46%;
    display: block;
    font-weight: normal;
}

footer {
    color: darkgrey;
    margin-top: 5em;
}

#tagline {
    text-align: center;
    padding: 1em;
    margin: 0;
}

#content {
    background: url("img/bodybg.jpg") top center / 100% no-repeat local black;
}

h3 {
    font-weight: normal;
}

.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

.aligned-content {
    padding-right: 1em;
    padding-left: 1em;
}

.content-item {
    padding-bottom: 1em;
}

.section-header {
    background-color: rgba(245,160,40,0.33);
    padding-top: 2em;
    padding-bottom: 0.1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.section-header h2 {
    padding-bottom: 0.25em;
}

#vision {
    padding-top: 1em;
}

#vision p,
.section-header p {
    font-size: 125%;
}

#vision,
#contact form {
    margin: auto;
}

.form-control {
    background-color: #fceeda;
    color: black;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background-size: 100% 34em;
    }

    body>header {
        height: 34em;
    }

    header h1 {
        font-size: 750%;
    }

    .content-item {
        padding-bottom: 2em;
    }

    .section-header {
        margin-bottom: 3em;
        margin-top: 2em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
